<div class="AdminToolbar" id = "admin_toolbar">
	

	<div title = "edit_hoepage" class="command" id = "HOMEPAGE">
		 <img src = "images/home.svg"/>
	    <div class="comment">HOMEPAGE</div>	
	</div>	

	
	<div title = "new_page" class="command" id = "NEW_PAGE">
		 <img src = "images/ds_plus.svg"/>
	    <div class="comment">NEW PAGE</div>	
	</div>		

	<div title = "new_user" class="command" id = "NEW_ADMIN">
		 <img src = "images/at_user.svg"/>
		 <div class="comment">NEW ADMIN</div>	
	</div>			

	<div title = "new_ressource" class="command" id = "NEW_RESOURCE">
		 <img src = "images/at_cloud.svg"/>
		 <div class="comment">NEW RESOURCE</div>	
	</div>	


	<div title = "new_ressource" class="command" id = "SHOW_RESOURCES">
		 <img src = "images/at_cloud.svg"/>
		 <div class="comment">SHOW RESOURCES</div>	
	</div>	


	<div title = "statistics" class="command" id = "STATS">
		 <img src = "images/at_stats.svg"/>
		 <div class="comment">SHOW STATS</div>	
	</div>	



</div>