<div class="BlogEntry" id = "xxx">
	<div class="title">Blog Title</div>
	<input class = "title_input" type="text" value="Blog Title" id = "InputBlogTitle"/>'
	
	
	<div class="text">Here comes the content</div>
	<textarea class = "text_input" id = "InputBlogText">Here comes the content</textarea>	



	<div class="Footer">
		<div title = "update" class="command" id = "UP">
			 <img src = "images/bl_update.svg"/>
		</div>

		<div title = "publish" class="command" id = "PUB">
			 <img src = "images/bl_publish.svg"/>
		</div>
		
		
		<div title = "delete" class="command" id = "DEL">
			 <img src = "images/bl_trash.svg"/>
		</div>		
		
		
	</div>

</div>