<div class="Homepage">

    <div class="title">CREATE YOUR HOMEPAGE</div>

	
  	<input type="text" value="Homepage Title" id = "homepage_title"/>	
    <div class="legend">homepage title</div>


  	<input type="text" value="Logo" id = "homepage_logo"/>	
    <div class="legend">homepage logo</div>

	<textarea id = "homepage_contact" name="user_eingabe" cols="80" rows="4">contact information</textarea>	
    <div class="legend">contact information</div>

	<textarea id = "homepage_disclaimer" name="user_eingabe" cols="80" rows="4">disclaimer</textarea>	
    <div class="legend">disclaimer</div>

  	<input type="text" value="style" id = "homepage_style"/>	
    <div class="legend">style</div>

    <input type="checkbox" name="cookie" value="cookie">Cookie<br>



  	<input type="text" value="en" id = "homepage_languages"/>	
    <div class="legend">languages, comma seperated</div>

  	<input type="text" value="twitter" id = "homepage_social_media"/>	
    <div class="legend">social media, comma seperated</div>

  	<input type="text" value="server address" id = "homepage_server"/>	
    <div class="legend">server address</div>
    
  	<input type="text" value="server upstream" id = "homepage_upstream"/>	
    <div class="legend">upstream</div>    



	<div class="submitter">SUBMIT</div>


</div>