<div class="new_admin_form" id = "new_admin_form">
	
   <div class="exit">X</div>	
	
  <input type="text" value="Name" id = "admin_name"/>
  <div class="legend">name</div>


  <input type="text" value="Email" id = "admin_mail"/>
  <div class="legend">email</div>

  <input type="text" value="Password" id = "admin_password"/>
  <div class="legend">password</div>


  <input type="checkbox" name="zutat" value="salami">get email notifications<br>



  <div title = "title" class="explanation">The administrator may change the content of this page</div>


  <div class="submitter">SUBMIT</div>


</div>