<div class="new_page_form" id = "new_page_form">

  <div class="exit">X</div>
	
  <input class = "page_title" type="text" value="Page Title" id = "page_title"/>


    <select id = "page_type" name="top5" size="1">
      <option selected>default</option>
      <option>blog</option>
    </select>


    <select id = "transition_in" name="sequence" size="1">
      <option selected>static</option>
      <option>left_to_right</option>
      <option>right_to_left</option>
      <option>up_to_down</option>
      <option>down_to_up</option>
      <option>symmetric</option>
    </select>



    <select id = "sequence" name="sequence" size="1">
      <option selected>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>      
              
    </select>





	<div title = "title" class="explanation">EXPLANATION: Creating a page means creating a context which structures your site</div>


	<div class="submitter">SUBMIT</div>

</div>